:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
  --primary-bg: #050607;
  --navbar-bg: #000103;
  --card-bg: rgb(8, 8, 9);
  --primary-text: #fff;
  --gold-text: #ffb338;
}